@model IEnumerable<PizzaWebsite.Data.Entities.Product>

@{
    ViewData["Title"] = "Pizza Menu";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- Assisted by: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named -->
<!-- Image Sources: https://yesofcorsa.com/pepperoni-pizza/, https://bellassubpizza.com/product/16-large-cheese-pizza/, https://www.tripadvisor.ca/LocationPhotoDirectLink-g155019-d8460552-i153287670-Jz_s_Pizza-Toronto_Ontario.html, https://www.wallpaperbetter.com/food-wallpaper/veggie-pizza-3090, http://www.immadeofsugar.com/2014/01/poutine-pizza-from-pizza-hut.html, https://www.huffpost.com/entry/xbox-pizza-hut_n_4570898, https://www.thetastyk.com/2016/07/26/healthy-vegan-pizza/ -->
<div class="grid-container">
    @foreach (var product in Model)
    {
    <div class="product-display">
        <h1 class="product-name">@product.Name</h1>
        <img src="~/images/menu/pizza-menu/@(product.ImageName).jpg" alt="@product.Name Pizza" />
        <h4 class="product-description">@product.Description</h4>
        <div class="product-details">
            <div class="product-portion">
                <label class="control-label product-portion-label"></label>
                <select class="form-control product-portion-select" product-id="@product.Id">
                    @for (int portionIterator = 0; portionIterator < product.Portions.Count; portionIterator++)
                    {
                        <option value="@product.Portions[portionIterator].Label" portion-index="@portionIterator">@product.Portions[portionIterator].Label</option>
                    }
                </select>
            </div>
            <h3 class="product-price" product-id="@product.Id">@product.Prices[0].ToString("c")</h3>
        </div>
        <button class="product-add-to-cart btn btn-success" product-id="@product.Id">Add To Cart</button>
    </div>
    }
</div>

<script>
    // Assisted by https://stackoverflow.com/questions/51573435/want-to-add-addeventlistener-on-multiple-elements-with-same-class
    [...document.querySelectorAll(".product-portion-select")].forEach(select => {
        select.addEventListener("change", (event) => {
            let productId = event.srcElement.getAttribute("product-id");
            let portionIndex = event.srcElement.options[event.srcElement.selectedIndex].getAttribute("portion-index");
            let productPriceElement = document.getElementsByClassName("product-price").querySelectorAll(`[product-id='${productId}']`);
            console.log(productPriceElement)
            
        });
    });
</script>

<link rel="stylesheet" href="~/css/product-menu.css" />


